.pop {
  width: 30rem;
  border-radius: 0px;
}

.menu {
  transform: translate(0rem);
}

.Modal {
  height: 40rem;
  background-color: lavenderblush;
  display: none;
}
.MenuIcon {
  height: 5rem;
  width: 5rem;
}

@media (max-width: 1000px) {
  .Modal {
    grid-column: 1/2;
    grid-row: 1/2;
    display: inline;
    background-color: transparent;
    color: white;
  }

  .Modal Button {
    color: white;
  }
}

@media (min-width: 999px) {
  .menu {
    display: none;
  }
}
