.SideBar {
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
  line-height: 2rem;
  background: linear-gradient(
    6deg,
    rgba(250, 250, 250, 0.923) 40%,
    rgb(231, 230, 230) 55%,
    rgba(237, 237, 237, 1) 82%
  );
}

.SideBar h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-heading);
}

.SideBar div {
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.SideBar p {
  margin-top: 2rem;
}

.scoreboard {
  margin-bottom: 2rem;
}

.SideBar li {
  list-style: none;
  margin-top: 0.2rem;
}

.SideBar address {
  text-decoration: none;
  font-style: normal;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.SideBar a {
  text-decoration: none;
  color: rgb(99, 168, 233);
}

.SideBar span {
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .SideBar {
    grid-row: 5/6;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: center;
    background: none;
    color: #fff;
    background-color: rgb(36, 34, 34);
  }

  .SideBar h3 {
    font-size: 2rem;
  }
  .SideBar p {
    margin-top: 1rem;
  }
  .SideBar address {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .SideBar {
    display: grid;
  }
}
