.HeaderQuote {
  grid-column: 1/4;
  align-self: center;
}

.HeaderQuote blockquote {
  font-size: 2rem;
  padding-left: 3rem;
  color: lightgray;
  text-align: left;
  word-spacing: 0.5rem;
}
@media (max-width: 570px) {
  .HeaderQuote {
    grid-column: 1/5;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    padding: 1rem;
  }
}
