.SocialMedia {
  grid-column: 4/5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: darkgrey;
  padding-right: 2rem;
}

@media (max-width: 570px) {
  .SocialMedia {
    grid-column: 1/5;
    align-self: center;
    justify-self: center;
    padding: 1rem;
  }
}
