.Heading {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
}

.Heading img {
  height: 100%;
  width: auto;
  padding-left: 2rem;
}

@media (max-width: 1000px) {
  .Heading {
    grid-column: 1 /5;
    justify-self: center;
  }
}

@media (max-width: 450px) {
  .Heading {
    grid-column: 1 /5;
    justify-self: center;
  }

  .Heading img {
    padding: 1rem;
    width: 200px;
    object-fit: scale-down;
  }
}
