.Header {
  display: grid;
  grid-template-rows: 15vh 65vh 20vh;
  /*  grid-template-columns: repeat(4, minmax(10rem, 1fr)); */
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  background-color: black;
}

.NavBar_SearchBar {
  grid-column: 3/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(2 min-content);
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 1000px) {
  .Header {
    grid-template-rows: min-content 10vh 30rem 13vh min-content;
  }
  .NavBar_SearchBar {
    grid-row: 2/3;
    grid-column: 1/5;
  }
}

@media (max-width: 750px) {
  .NavBar_SearchBar {
    grid-row: 2/3;
    grid-column: 1/5;
  }
}

@media (max-width: 560px) {
  .Header {
    grid-template-rows: min-content 10vh 30rem min-content min-content;
  }
}
