.Logo {
  background-color: rgb(75, 69, 69);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  cursor: pointer;
}

@media (max-width: 570px) {
  .Logo {
    background-color: rgb(75, 69, 69);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}
