:root {
  --font-primary: "EB Garamond", serif;
  --font-heading: "Cormorant Garamond", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
}
body {
  line-height: 1.5;
  margin: 0;
  font-family: "EB Garamond", "Cormorant Garamond", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
