.NavBar ul {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.NavBar li {
  list-style-type: none;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.NavBar a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .NavBar {
    display: none;
  }
}
