.Sponsors {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content repeat(4, 1fr);
  justify-content: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

.Sponsors h2 {
  grid-row: 1/2;
  grid-column: 1/-1;
  font-size: 2.5rem;
  justify-self: start;
  align-self: center;
  padding: 2rem;
}

@media (max-width: 700px) {
  .Sponsors {
    grid-template-rows: min-content repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, 100px);
  }
}
